/*BEGIN Xbox One Controller Styling*/
.controller.custom{
    background: url(img/base.png);
    width: 1111px;
    height: 582px;
    margin-left: -375px;
    margin-top: -285px;
}
.custom.white{
}
.custom.disconnected {
    background: url(img/disconnected.png);    
}
.custom.disconnected div {
    display: none;
}
//* .custom .triggers{
    width: 520px;
    height: 121px;
    position: absolute;
    left: 126px;
    top: 239px;
    background: url(http://i.imgur.com/GaV5RBy.png);
    background-position: -152px 0px;
    -webkit-clip-path: 50%;
}*//
.custom .trigger{
    width: 237px;
    height: 72px;
    background: url(img/trigger.png);
    opacity: 0;
}
.custom .trigger.left{
    float: left;
    background-position:0 0;
}
.custom .trigger.right{
    float: right;
    transform: rotateY(180deg);
}
.custom .bumper{
    width: 242px;
    height: 48px;
    background: url(img/bumper);
    opacity: 0;
}
.custom .bumpers{
    position: absolute;
    width: 536px;
    height: 61px;
    left: 107px;
    top: 129px;
    display: none;
}
.custom .bumper.pressed{
    opacity: 1;
}
.custom .bumper.left{
    float: left;
}
.custom .bumper.right{
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.custom .quadrant{
    position: absolute;
    /* background: url(http://mrmcpowned.com/gamepad/xbox-assets/quadrant.svgz); */
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}
.custom .p0{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.custom .p1{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.custom .p2{
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.custom .p3{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.custom .arrows{
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
    display: none;
}
.custom .back, .custom .start{
    background: url(img/ss.png);
    width: 104px;
    height: 86px;
    opacity: 0;
}
.custom .back.pressed, .custom .start.pressed{
    opacity: 1;
}
.custom .back{
    float: left;
}
.custom .start{
    background-position: 33px 0px;
    float: right;
}
.custom .abxy{
    position: absolute;
    width: 157px;
    height: 164px;
    top: 231px;
    left: 388px;
    /*background: url(http://i.imgur.com/tE4M2o4.png);*/
    /* background-size: contain; */
}
.custom .button{
    position: absolute;
    /*background: url(http://mrmcpowned.com/gamepad/xbox-assets/abxy.svgz);*/
    width: 48px;
    height: 48px;
}
.custom .button.pressed{
    background-position-y: -48px;
    margin-top: 5px;
    opacity: 1;
}
.custom .a{
    background-position: 0 0;
    top: 108px;
    left: 55px;
    background: url(img/a.png);
}
.custom .b{
    background-position: -49px 0;
    top: 57px;
    right: 3px;
    background: url(img/b.png);
}
.custom .x{
    background-position: -98px 0;
    top: 57px;
    left: 4px;
    background: url(img/x.png);
}
.custom .y{
    background-position: 48px 0;
    left: 55px;
    top: 5px;
    background: url(img/y.png);
}
.custom .sticks{
    position: absolute;
    width: 137px;
    height: 139px;
    top: 239px;
    left: 224px;
    background: url(img/stick.png);*/;
    background-position: -117px -214px;
    -webkit-clip-path: circle(50% at center);
    clip-path: circle(50% at center);
}
.custom .stick{
    position: absolute;
    background: url(img/stick.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
.custom .stick.pressed{
    background-position: 0 0;
}
.custom .stick.left{
    top: 24px;
    left: 27px;
}
.custom .stick.right{
    top: 113px;
    left: 288px;
    display: none;
}
.custom .dpad{
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
    display: none;
}
.custom .face{
    /*background: url(http://mrmcpowned.com/gamepad/xbox-assets/dpad.svgz);*/
    position: absolute;
    opacity: 0;
}
.custom .face.pressed{
    opacity: 1;
}
.custom .face.up{
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
    background: url(img/up.png);
}
.custom .face.down{
    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
    background: url(img/down.png);
}
.custom .face.left{
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
    background: url(img/left.png);
}
.custom .face.right{
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
    background: url(img/right.png);
}
.custom.half{
    margin-top: -315px;
}
.custom{
    background: no-repeat center;
}
/*END Xbox One Controller Styling*/
